<!DOCTYPE html>
<html>
  <head>
    <title>Guestpostanalyzer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar is-light mb-5" role="navigation">

        <div class="navbar-brand">
            <a class="navbar-item" href="https://buildmediagroup.com/">
                <img src="https://buildmediagroup.com/wp-content/uploads/2020/09/logo.png"></img>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <%= link_to("Start Over", new_batch_url, class: "navbar-item") %>
                <%= link_to("GitHub", "https://github.com/brandonricharda/guest-post-analyzer", class: "navbar-item") %>
            </div>
        </div>

    </nav>

    <%= yield %>

  </body>
</html>
